@import 'src/theme/variables.scss';

.bot-builder-container {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
  overflow: scroll;
  svg{
    z-index: 1;
    overflow: visible;
  }
}

.element-container {
  border: 1px solid $border-color;
  width: 260px;
  min-height: 108px;
  background-color: #fff;
  padding: 22px;
  position: absolute;
  border: 1px solid transparent;
  transition: border .2s ease-in-out;
  z-index: 2;
  border-radius: 10px;
  box-sizing: border-box;
  transition: box-shadow .3s ease-in-out;
  .controlType{
    font-size: 14px;
    line-height: 17px;
    color: $text-color1;
    border-bottom: 1px solid $border-color;
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    span{
      display: inline-block;
      width: 10px;
      height: 10px;
      background: red;
      border-radius: 50px;
      margin-right: 8px;
    }
  }
  .heading{
    height: 28px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    padding-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 18px;
    &:hover {
      overflow: visible;
    }
  }
  &:hover{
    box-shadow: 0px 0px 20px 0px $border-color;
    border: 1px solid $color1;
    .actions{
      top: -34px;
      height: 36px;
      div{
        padding: 3px 10px 2px;
      }
    }
  }
  .options{
    position: relative;
    padding: 6px 10px 2px;
    border: 0.5px solid $border-color;
    background: #f7f7f7;
    border-radius: 6px;
    margin-bottom: 10px;
    color: $border-color;
    opacity: 0.9;
    .text{
      position: relative;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      display: inline-block;
      font-size: 14px;
    }
    .line{
      position: absolute;
      right: -18px;
      border-bottom: 1px solid $border-color;
      width: 18px;
      top: 50%;
      height: 0;
      display: inline-block;
      transform: translatey(-50%);
    }
  }
  .drag-area{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 97%;
    height: 100%;
    background: transparent;
    cursor: move;
    z-index: 3;
  }
  .actions{
    position: absolute;
    right: 0;
    top: -16px;
    background-color: transparent;
    padding: 0;
    height: 0;
    transition: height .3s ease-in-out;
    transition: top .3s ease-in-out;
    overflow: hidden;
    &>div{
      background-color: $color1;
      width: auto;
      border-radius: 10px;
      i{
        position: relative;
        transition: all .1s ease-in-out;
        &:first-child{
          margin-right: 10px;
        }
        &:hover{
          transform: scale(1.2);
        }
      }
    }
  }
}

.connector, .bottom-connector{
  display: inline-block;
  width: 14px;
  height: 14px;
  position: absolute;
  background: $white;
  border-radius: 50px;
  cursor: pointer;
  transition: border .1s ease-in-out;
  border: 1px solid $border-color;
  color: $text-color3;
  &:hover.active::after { 
    content: "x";
    top: -5px;
    position: absolute;
    left: 3px;
    font-size: 14px;
  }
  &:hover{
    background-color: $border-color;
  }
}
.connector{
  top: 50%;
  right: -31px;
  transform: translateY(-50%);
}
.bottom-connector{
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
}
// .remove {
//   display: inline-block;
//   width: 14px;
//   height: 14px;
//   position: absolute;
//   color: $white;
//   cursor: pointer;
//   right: -30px;
//   text-align: center;
//   background: $color1;
//   border-radius: 50px;
//   font-size: 11px;
//   top: 50%;
//   transform: translateY(-50%);
//   display: inline-block;
// }
