i{
  display: inline-block;
  cursor: pointer;
  overflow: hidden;
  background-size: contain;
  width: 15px;
  height: 15px;
}
.arrow-left {
  background: url(./assets/icons/arrow_left.svg) no-repeat center bottom;
  width: 10px;
  height: 10px;
}
.email {
  background: url(./assets/icons/email.svg) no-repeat center bottom;
}
.address {
  background: url(./assets/icons/address.svg) no-repeat center bottom;
}
.button {
  background: url(./assets/icons/button.svg) no-repeat center bottom;
}
.file {
  background: url(./assets/icons/file.svg) no-repeat center bottom;
}
.list {
  background: url(./assets/icons/list.svg) no-repeat center bottom;
}
.message {
  background: url(./assets/icons/message.svg) no-repeat center bottom;
}
.number {
  background: url(./assets/icons/number.svg) no-repeat center bottom;
}
.phone {
  background: url(./assets/icons/phone.svg) no-repeat center bottom;
}
.profile {
  background: url(./assets/icons/name.svg) no-repeat center bottom;
}
.rating {
  background: url(./assets/icons/rating.svg) no-repeat center bottom;
  width: 20px;
}
.scale {
  background: url(./assets/icons/scale.svg) no-repeat center bottom;
}
.yesno {
  background: url(./assets/icons/yesno.svg) no-repeat center bottom;
}
.copy-icon{
  background: url(./assets/icons/copy_white.svg) no-repeat center bottom;
  width: 14px;
  height: 14px;
}
.delete-icon{
  background: url(./assets/icons/delete_white.svg) no-repeat center bottom;
  width: 14px;
  height: 14px;
}
.builder-icon{
  background: url(./assets/icons/builder-icon.svg) no-repeat center bottom;
  width: 22px;
  height: 22px;
}
.profile-icon{
  background: url(./assets/icons/profile.svg) no-repeat center bottom;
  width: 20px;
  height: 20px;
}
.stats-icon{
  background: url(./assets/icons/stats.svg) no-repeat center bottom;
  width: 20px;
  height: 20px;
}
.settings-icon{
  background: url(./assets/icons/settings.svg) no-repeat center bottom;
  width: 20px;
  height: 20px;
}
.book-icon{
  background: url(./assets/icons/book.svg) no-repeat center bottom;
  width: 20px;
  height: 20px;
}
.cloud-message-icon{
  background: url(./assets/icons/cloud_message.svg) no-repeat center bottom;
  width: 20px;
  height: 20px;
}
.cloud-ok-icon{
  background: url(./assets/icons/cloud_ok.svg) no-repeat center bottom;
  width: 20px;
  height: 20px;
}
.delete-main-icon{
  background: url(./assets/icons/delete_main.svg) no-repeat center bottom;
  width: 20px;
  height: 20px;
}
.notification-bell-icon{
  background: url(./assets/icons/notification_bell.svg) no-repeat center bottom;
  width: 20px;
  height: 20px;
}