$primaryColor: #17A589;
$secondaryColor: #5DADE2;
$white: #FFFFFF;
$gray: #CCCCCC;
$color1: #2900FF;
$color2: #F9F9F9;
$leftNav: 56px;
$topNav: 54px;
$shadow-color: rgba(0,0,0, .38);
$text-color1:  #707070;
$text-color2: #414141;
$text-color3: #363636;
$border-color: #A8AAB7;
$yellow: #FFA200;