.bot-builder-main-container {
  position: relative;
  float: left;
  width: 10000px;
  height: 10000px;
  overflow: scroll;
  background-image: url('../../assets/images/bot-builder-background.png');
  // background-image: url('../../assets/images/04_free_subtle_textures_blueprint_texture.jpg');
  background-size: 28px;
}