@import 'src/theme/variables.scss';

.element-form{
  display: block;
  width: 232px;
  overflow: hidden;
  position: relative;
  .header-title{
    font-size: 16px;
    font-weight: normal;
    margin: 24px 0;
    line-height: 18px;
  }
  div{
    // display: block;
    width: 100%;
    position: relative;
  }
  .actions {
  }
  .add-new-message-container{
    margin: 18px 0;
    display: flex; 
    align-items: center;
    span{
      font-size: 14px;
      line-height: 16px;
      color: $text-color1;
      font-family: proxima-nova, sans-serif;
      font-style: normal;
      font-weight: 600;
    }
    button{
      width: 20px;
      height: 20px;
      position: relative;
      border-radius: 50px;
      margin-left: 10px;
      padding: 0;
      border: 1px solid $icon-color1;
      color: $icon-color1;
      .centered-element{
        width: 10px;
        height: 10px;
        top: 0;
        color: $icon-color1;
      }
    }
  }
  .remove-option {
    position: absolute;
    right: 5px;
    top: 54px;
    z-index: 1;
    border: none;
    background: transparent;
    outline: none;
  }
  .variable{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 8px;
    width: auto;
    button{
      padding: 4px 12px;
      // position: absolute;
      // right: 0;
      // top: 8px;
      position: relative;
      border-radius: 8px;
      border-radius: 0;
      padding: 5px 16px;
      background: transparent;
      border: 0.5px solid $color1;
      color: $color1;
      font-size: 12px;
      z-index: 1;
      
    }
    .btn-primary.dropdown-toggle:focus {
      box-shadow: none; 
    }
  }
}

.ql-toolbar.ql-snow{
  border: none;
}
.ql-toolbar.ql-snow + .ql-container.ql-snow{
  border: 1px solid #ccc;
}
.ql-container.ql-snow{
  margin-top: 14px;
  height: auto;
}
.ql-editor{
  background: $white;
  height: 100px;
}

.check-box-container{
  margin: 22px 0px 22px 0px;
  &>div{
    margin-bottom: 0;
  }
  label{
    font-size: 12px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    margin-top: 0px;
    label:first-child{
      margin-top: 0;
    }
    input[type="checkbox"]{
      display: inline-block;
      width: auto;
      height: 14px;
      outline: none;
      box-shadow: none;
    }
  }
  .inline-drop-down {
    select {
      display: inline-block;
      width: auto;
      width: 42px;
      font-size: 14px;
      height: 22px;
      margin-left: 14px;
      color: $icon-color1;
    }
  }
  .variable-container {
    font-size: 15px;
    ::-webkit-input-placeholder{
      font-size: 12px;
    }
    input{
      font-size: 15px;
    }
    .txt-variable-name{
      padding-left: 26px;
    }
    button{
      color: #7B7B7B;
      font-size: 10px;
      border-color: transparent;
      background-color: transparent;
    }
    .create-action{
      background-color: #EEEEEE;
      padding: 2px 6px;
      border-radius: 4px;
      position: absolute;
      right: 10px;
      top: 8px;
    }
    .add-fallback-val-action{
      padding: 0
    }
    .atSymbol{
      position: absolute;
      top: 8px;
      left: 10px;
    }
  }
}

.controls-left-panel .option-container{
  li{
    padding: 0;
    display: block;
    text-align: left;
    margin-top: 16px;
    &:first-child{
      margin-top: 22px;
    }
    .item {
      width: 110px;
      padding: 6px;
      text-align: center;
      border: 1px solid $icon-color1;
      background: $color4;
      
    }
    .btn-container{
      width: 100%;
      input[type="text"]{
        width: 150px;
        padding: 6px;
        text-align: center;
        border: 1px solid $icon-color1;
        background: $color4;
      }
      button{
        float: right;
      }
    }
  }
}